body {
    padding: 0;
    margin: 0;
}

html, body, #map {
    height: 100%;
    width: 100vw;
}

.marker-popup {
  text-align: center;
}

.center {
    justify-content: center;
}

p {
    margin: 7.5% 0 7.5% 0;
}